
.hide{
    display: none;
}

body{
    width: 0 auto;
  
}
h3{
    font-size:18;
    font-style: oblique;
    margin:15px 0px;

}
h2 {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
  display: inline-block;
  }

h3 span {
  background-color: gainsboro;
  color: #000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  top: -5px;
  height: 22px;
  width: 26px;
  padding: 4px 0 0 0;
}


fieldset{
    font-family:monospace;
   height: 150px;
    width: 150px;
    padding: 100px;
    margin: auto; 
}


#header{
font-family:sans-serif;
font-style: oblique;
font-size: 24px;
color:#2844;
border-bottom: 2px solid #2844;
}

#header h1{
 margin: auto;
 padding: 0 10px;

}


#container{
   width: auto;
   margin: 0 auto;
}
#two{
     width: 520px;
    float: left;
    
    
}
#one{
  border-color: #5543;
  float: left;
  width: 520px;
      
}
#one li{
    margin: 2px;
}
#planList{
  margin-left:10px;
  font-family:sans-serif;
  border-right: 1px solid #2844;

}

#completed li{
    color: gainsboro;
    list-style-type: none;
}
#completed input{
background-color: beige;
   margin: 0 15px 0 0;
}

#showList img{
    width: 100px;
    height: 150px;
}
#showList{
    margin: 0 0 0 15px; 
    font-family: monospace;
    position:relative;
}


#showList td{
    width: 100px;
    position: inherit;
    text-align: center;
}

#searchList{
  margin-left: 10px;
  font-family:fantasy;

}

#searchList ul{
     padding: 0 0 0  15px;   
}

#searchList p{
    text-align: center;
   width: 400px;
}
#planList li{
    font-size: 16px;
    font-family: sans-serif;
    padding-left: 10px;
}

.haveInfo{
    
    background-color: lightgoldenrodyellow;
}
.noInfo{
   background-color: aliceblue;
}

#searchForm{
    padding:15px;
 
}
#inputField{
width: 300px;
font-family:fantasy;
border: none;
border-bottom:1px solid darkseagreen;
padding-left: 10px;
}

#searchButton{
   height: 30px;
   border: none;
    background-color: #2844;
    border-radius: 5px;
    color: white;
}
#searchList li{
    font-family: monospace;
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 10px;
    list-style:circle;
}
#searchList li .list{
      display: inline-block;
      width: 60px;
      font-family:monospace;
      margin-right: 15px;
    
}
.selected{
    color:coral;
}
.current{
color: blue;
}


span.list{
    background-color: beige;
}
.hoverChange{
    color: forestgreen;
}